includes:
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    excludePaths:
        analyseAndScan:
            - src/Tests/Mocks/WebDriver.php
